div.reply
	a href="/index.html" 
		i.icon-reply.color-white
ul.all
	/Font Awesome
	li
		h1 Font Awesome
		h2 
			a href="http://fortawesome.github.io/Font-Awesome/" http://fortawesome.github.io/Font-Awesome  

	li
		div
			i.fa.fa-caret-square-o-left
		h2 直接套用

	li
		div
			i.fa.fa-spinner.fa-spin
		h2 CSS 3 效果

	li
		div
			<span class="fa-stack">
				<i class="fa fa-camera fa-stack-1x"></i>
				<i class="fa fa-ban fa-stack-2x text-danger"></i>
			</span>
		h2 合體
	li
		<div><i class="fa fa-shield fa-rotate-90"></i></div>
		<h2>旋轉方向</h2>

	li
		h1 修改變數
		pre
			|$fa-css-prefix:       icons-fa !default;

	li
		<div><i class="fa icons-fa-shield fa-rotate-90"></i></div>
		pre
			| class="fa icons-fa-shield fa-rotate-90"

	li
		h1 以上就是完美的 Font Awesome


	li
		h1 Icomoon
		h2 還能拿什麼出來比呢？
		p 
			a href="http://icomoon.io/" http://icomoon.io/
	li
		div 
			i.icon-paperplane
		h1 大量icons
	li 
		div 
			i.icon-dragon-ball
		h1 自定icon
	li 
		div 
			i.icon-google-logo
		h1 自定icon
	li
		<div><i class="fa fa-spin icon-dragon-ball"></i></div>
		<h2>偷用Awesome 效果</h2>

	li
		h2	1. 圖型化操作界面(簡單)
		h2	2. 自定義名稱
		h2	3. 可匯入svg 轉 font
		h2	4. Support IE 7
		h2	5. 內嵌字型到CSS(有瀏覽器問題)


	li
		h1	Web font icons 的優點

	li
		div 
			i.icon-eye
		h1 清晰
	li
		div 
			<i class="fa icon-dragon-ball"></i>
			<i class="fa icon-dragon-ball fa-2x "></i>

		h1 縮放自如


	li
		div 
			<i class="fa icon-dragon-ball"></i>
			<i class="fa icon-dragon-ball color-black "></i>

		h1 調色

	li
		div 
			<i class="fa icon-google-logo text-shadow"></i>

		h1 他是字不是圖 (text-shadow)
	/ uni code table
	li
		div 
			<i class="fa icon-google-logo text-cubicStyle"></i>







